body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav {
    z-index: 2;
    overflow: visible;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#navbar-tag {
    width: 30px;
    height: 100%;
    writing-mode: sideways-lr;
    text-align: center;
    color: #4f5660;
    background-color: #ffffff;
    padding-left: 5px;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#navbar-items {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #f2f3f5;
    margin:0px 0px;
    padding: 8px 0px;
}

.navbutton {
    transition: all 0.25s ease-out;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    margin: 5px 10px;
    background-color: #e3e5e8;
    border-radius: 95%;
  }

.navbutton>img{
    filter: invert(34%) sepia(9%) saturate(617%) hue-rotate(176deg) brightness(90%) contrast(89%);
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navbutton.active{
    background-color: #fa824e;
    border-radius: 32%;
}

.navbutton:active{
    transform: translateY(2.3px);
}

/* using this https://codepen.io/sosuke/pen/Pjoqqp for the colors*/

.navbutton.active>img{
    filter: invert(96%) sepia(11%) saturate(17%) hue-rotate(76deg) brightness(108%) contrast(99%);
}

.navbutton:hover {
    transition: all 0.2s ease-out;
    background-color: #fa824e;
    border-radius: 32%;
}

.navbutton:hover:not(.active)>img{
    transition: all 0.05s ease-out;
    filter: invert(96%) sepia(11%) saturate(17%) hue-rotate(76deg) brightness(108%) contrast(99%);
    border-radius: 32%;
}

.tooltip-text {
    visibility: hidden;
    color: black;
    background-color: white;
    font-size: 1rem;
    position: absolute;
    left: 5.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: none;
    font-weight: 300; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    z-index: 3;
  }

  .navbutton:hover>.tooltip-text {
    visibility: visible;
    display: block;
  }

.main{
    z-index: 1;
    flex-grow: 1;
    overflow: auto;
    height: 100%;
    background-color: #ffffff;
}
